.login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img{
      border-radius: 50%;
      border:1px solid rgb(174, 174, 174);
    }
    .login-content{
      color:gray;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .separator {
        border: 1px solid rgb(174, 174, 174)  ;
        margin: 10px 0; 
        width:400px;
      }
    }

    form{
      display: flex;
      flex-direction: column;
      align-items: center;

      input{
        width: 200px;
        height: 30px;
        margin: 10px;
        border-color: gray;
      }

      button{
        width: 210px;
        height: 30px;
        border: none;
        background-color: rgb(0, 87, 0);
        color: white;
        font-weight: bold;
        cursor: pointer;
      }

      span{
        font-size: 12px;
        color: red;
        margin-top: 10px;
      }
    }
}